* {
    margin: 0 auto;
}

header {
    margin-top: 1%;
    display: flex;
}

.logo {
    margin-left: 5%;
    width: 30%;
}

.barra-navegacao>a {
    align-items: end;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    margin-right: 20px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15%;
}

.banner1 {
    display: flex;
    width: 90%;
}

.banner1>.titulo {
    width: 40%;
}

.banner1>.titulo>h1 {
    text-align: center;
    font-size: 55px;
    width: 90%;
    display: inline-block;
    margin-left: 8%;
}

.banner1>.imagem {
    width: 40%;
}

.banner1>.imagem>img {
    display: flex;
}

.banner1>.botao>input {
    border: none;
    background-color: #DA5F17;
    color: #FFFFFF;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
}

.banner2>.imagem>h1 {
    color: #DA5F17;
    text-align: justify;
}

.banner2>.titulo>h1 {
    text-align: justify;
    font-size: 36px;
    color: #DA5F17;
}

.banner2>.texto>p {
    text-align: justify;
    font-size: 22px;
}

.banner3>.imagem>img {}

.banner3>.titulo>h1 {
    font-size: 33px;
    color: #DA5F17;
}

.banner3>.texto>p {
    font-size: 22px;
}

.banner3>.botao>input {
    border: none;
    background-color: #DA5F17;
    color: #FFFFFF;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
}

.banner4 {
    background-color: #DA5F17;
}

.banner4>div {
    background-color: #FFFFFF;
    display: inline-block;
}

.banner4>div>h2 {
    font-size: 22px;
    font-weight: bold;
    background-color: #FFFFFF;
    display: inline-block;
}

.banner4>div>p {
    font-size: 22px;
    background-color: #FFFFFF;
    display: flex;
}

.banner5>.titulo>h1 {
    color: #DA5F17;
    font-size: 40px;
    font-weight: bold;
}

.banner5>.titulo>h2 {
    color: #DA5F17;
    font-size: 20px;
    font-weight: bold;
}

.banner5>.titulo>h2 {
    font-size: 16px;
}

hr {
    background: #DA5F17;
    border: none;
}

footer {
    text-align: center;
}

/* =========================== MOBILE ================================== */

@media screen and (max-width:1440px) {}